name: build kvs

on:
  push:
    branches: [ "2.0" ]
  pull_request:
    branches: [ "2.0" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: build
      run: make kvs
    - uses: actions/upload-artifact@v4
    - name: upload build artifacts
      with:
        name: kvs-binary
        path: build/kvs
